.wrapper {
    font-size : 15px;
    padding : 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.content {
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.center{
    align-items :center;
}

.border_box {
    border : 1px solid;
}



.call {
    width: 600px;
    height : 150px;
}

.card{
    border : 2px solid;
    border-radius:7px;
    background-color: white;
}

.customer-label{
    position:relative; 
    left:1%; 
    top:13%; 
    z-index:2; 
    width:20%;
    height:20px;
    
}

#calls{
    list-style-type: none;
    padding:20px;
}